.about-page {

}

.about-page-header {
  text-align: center;
  margin: 1em 0 .8em;
  font-family: "Century Schoolbook", Century, Garamond, serif;
  font-size: 3.8rem;
}

.about-page-text {
  text-align: justify;
  margin-bottom: 1.8em;
  font-family: "Century Schoolbook", Century, Garamond, serif;
  font-size: 1.2rem;
}
