<div class="container-fluid about-page">
  <div class="row">
    <div class="col-sm-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div class="row">
        <div class="col about-page-header">ABOUT M. STIEG</div>
      </div>
      <div class="row">
        <div class="col about-page-text">What can I say about myself? Probably plenty, however, I should start from the beginning.</div>
      </div>
      <div class="row">
        <div class="col about-page-text">
          I was hesitant to start a blog. I am not a quick thinker when it comes to conjuring up stories on the whim. Actually, it was my sibling who could do that. However, I decided to give it a go, hoping along the way my writing could improve. I love to write and as a novice I do become restive at times. Sometimes, at night, I light a candle and from there I begin to type.
        </div>
      </div>
      <div class="row">
        <div class="col about-page-text">I do hope everyone enjoys them. Thank you.</div>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
