<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-6">User Registration</div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-6">
      <div class="col">
        <form novalidate [formGroup]="form">
          <div class="form-group">
            <app-input [placeholder]="'First Name'" [control]="form.controls.firstName"></app-input>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Last Name'" [control]="form.controls.lastName"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'tel'" [placeholder]="'Phone Number'" [control]="form.controls.phoneNumber"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'email'" [placeholder]="'Email'" [control]="form.controls.email"></app-input>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Username'" [control]="form.controls.username"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'password'" [placeholder]="'Password'" [control]="form.controls.password"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'password'"
                       [placeholder]="'Verify Password'"
                       [showParentErrors]="true"
                       [control]="form.controls.verifyPassword"></app-input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
